/* footer */

footer {
    background-color: darksalmon;
    display: flex;
    justify-content: space-evenly;
    padding: 22px;  /*color de fondo */
}
.ifooter h2{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.pfooter{
    color: white;
    font-size: 15px;
}

  /* cierre footer */